---
import CompanyDetails from '../components/CompanyDetails.vue';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
<div>
    <Hero></Hero>
    <CompanyDetails></CompanyDetails>
</div>
</Layout> 