---
import CompanyDetails from '../components/CompanyDetails.vue';
import ConsultantBanner from '../components/ConsultantBanner.vue';
import Hero from '../components/Hero.astro';
import OurServices from '../components/OurServices.vue';
import OurTeam from '../components/OurTeam.vue';
import Testimonials from '../components/Testimonials.vue';
import WhyChooseUs from '../components/WhyChooseUs.vue';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
<div>
    <Hero></Hero>
    <CompanyDetails></CompanyDetails>
    <WhyChooseUs></WhyChooseUs>
    <OurTeam></OurTeam>
    <ConsultantBanner></ConsultantBanner>
    <OurServices></OurServices>
    <Testimonials></Testimonials>
</div>
</Layout> 