---
import CompanyDetails from '../components/CompanyDetails.vue';
import Hero from '../components/Hero.astro';
import OurTeam from '../components/OurTeam.vue';
import WhyChooseUs from '../components/WhyChooseUs.vue';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
<div>
    <Hero></Hero>
    <CompanyDetails></CompanyDetails>
    <WhyChooseUs></WhyChooseUs>
    <OurTeam></OurTeam>
</div>
</Layout> 