---
import HeroImage from "./HeroImage.vue";
import Nav from "./Nav.vue";
import TopInformation from "./TopInformation.vue";


---
<div>
    <TopInformation></TopInformation>
    <Nav></Nav>
    <HeroImage></HeroImage>
</div>